.discl {
    color: darkgray;
    font-size: xx-small;
    padding-top: 30px;
}

#sp {
    background-image: url('mauser.gif');
    background-size: 48px;
    background-repeat: no-repeat;
    background-position: center;
}
